// Place all the styles related to the hack controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#mymenu {

}
#mymenu {
	position: fixed;
	left: 0;
	top: 0;
	width: 90px;
z-index:3px;
display:none;

}
