<h1> Félicitations</h1>
<p>tu as lancé le script n°1 </p>
<p>pour hacker <%=@jsonradio.name%> et écouter de la musique)</p>
<p><a href="/jsonradios/<%=@jsonradio.id%>/downloadmusic2">lance le script n°2</a></p>

